html body {
    background-color: #1F1F1F;
    color: #D3C7B4;
    margin: 0px 20% 0px 20%;
    font-family: Helvetica;
    text-transform: lowercase;
}

.head {
  margin: 5% 0% 0% 0%;
  padding: 0px 0px;
  display: flex;
}

.head #logo {
  position: relative;
  height: 1.5%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: middle;
}

.head h1 {
  position: relative;
  display: inline-block;
  margin: 1% 0%;
}

hr {
  position: relative;
  margin: 2% 0%;
  height: 2px;
  background-color:#333333;
  border: none;
}

.upload {
  margin-top: 5%;
}

.upload span {
  color: #D06003;
}

.uploadBtn{
  background-color: #D06003;
  font-size: 120%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
  border: none;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  width: 20%;
  margin-top: 3%;
  border-radius: 10px;
}

.uploadBtn label {
 vertical-align: middle;
}

.uploadBtn #up {
  padding: 0px 0px;
  vertical-align: middle;
  padding: 1% 0% 1% 0%;
}

ul {
  padding: 0px 0px;
  display: flex;
  text-align: center;
  margin-top: 3%;
}

li {
  padding: 3% 3%;
  display: inline;
  list-style: none;
  width: 43%;
  background-color:#333333;
  text-decoration: none;
  position: relative;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-items: center;
}

li .first {
  vertical-align: top;
}

li .second {
  vertical-align: top;
}

li img {
  position: relative;
  width: 70%;
  align-items: center;
}