html body {
    background-color: #1F1F1F;
    color: #D3C7B4;
    margin: 0px 20% 0px 20%;
    font-family: Helvetica;
}

.head {
  margin: 5% 0% 0% 0%;
  padding: 0px 0px;
  display: flex;
}

.head #logo {
  position: relative;
  height: 1.5%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: middle;
}

.head h1 {
  position: relative;
  display: inline-block;
  margin: 1% 0%;
}

hr {
  position: relative;
  margin: 2% 0%;
  height: 2px;
  background-color:#333333;
  border: none;
}

.upload {
  margin-top: 5%;
}

.upload span {
  color: #D06003;
}

.uploadBtn{
  height: 2%;
  width: 15%;
  background-color: #D06003;
  font-size: 20px;
  padding: 2% 2%;
  font-weight: bold;
}
.uploadBtn label {
  vertical-align: middle;
}
